.extremas {
    font-weight: bold;
}

#t1 {
    background-color: #0364FE;
}

#t2 {
    background-color: #0364FE;
}

#t3 {
    background-color: #009BFE;
}

#t4 {
    background-color: #00CDFF;
}

#t5 {
    background-color: #A1E9FF;
}

#t6 {
    background-color: #D0F6FC;
}

#t7 {
    background-color: #FCFEE7;
}

#t8 {
    background-color: #FEFF69;
}

#t9 {
    background-color: #FECA00;
}

#t10 {
    background-color: #FE9934;
}

#t11 {
    background-color: #FE3401;
}