#span1{
    font-size: 10px;
}
#span2{
    font-size: 45px;
}
#span3{
    font-size: 30px;
}
#span4{
    font-size: 69px;
}
#span5{
    font-size: 19px;
}
#span6{
    font-size: 70px;
}
#span7{
    font-size: 23px;
}
#span8{
    font-size: 11px;
}
#span9{
    font-size: 90px;
}
#span10{
    font-size: 8px;
}