body{
    background-color: black;
}
.red{
    color: #D21312;
}
.orange{
    color: #FF6000;
}
.verdeClaro{
    color: #CDE990;
}
.yellow{
    color: #FFEA20;
}
.green{
    color: #ABC270;
}
.verdeOscuro{
    color: #68B984;
}
.brown{
    color: #815B5B;
}